@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'RTFont';
  src: url('/public/fonts/AllRoundGothic-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RTFont';
  src: url('/public/fonts/AllRoundGothic-Bold-Oblique.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'RTFont';
  src: url('/public/fonts/AllRoundGothic-Book.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RTFont';
  src: url('/public/fonts/AllRoundGothic-Book-Oblique.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'RTFont';
  src: url('/public/fonts/AllRoundGothic-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RTFont';
  src: url('/public/fonts/AllRoundGothic-Demi-Oblique.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'RTFont';
  src: url('/public/fonts/AllRoundGothic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RTFont';
  src: url('/public/fonts/AllRoundGothic-Medium-Oblique.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'RTFont';
  src: url('/public/fonts/AllRoundGothic-XLig.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RTFont';
  src: url('/public/fonts/AllRoundGothic-XLig-Oblique.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@layer base {
  html { @apply bg-neutral-50 text-neutral-900; }
  .dark { @apply bg-neutral-950 text-neutral-300; }
}